html,
body {
  background-color: #e3e3e3;
}
.container,
.container-md,
.container-sm {
  max-width: 720px;
}
.card-fixed-height {
  height: 300px;
}
.fixed-image {
  object-fit: cover;
  height: 180px;
}
